@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(216, 216, 216);
    overflow-x: hidden;
}
 /* Header */
 header, footer{
    display: flex;
    background-color: #ad1c58;
    align-items: center;
}
.myname{
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 5rem;
    color:white;
}
nav{
    position: absolute;
    right: 50px;
}
 nav li, footer li{
     list-style: none;
 }
 nav a, footer a{
     text-decoration:none;
     color: white;
     font-size: 2rem;
     margin: 25px;
     padding: 6px;
 }
 nav a:hover, .active{
  color:#ad1c58;
  background-color: white;
  font-weight: bold;
  border-radius: 5px;
 }
 nav ul, footer ul{
     display: flex;
     justify-content: center;
 }
 /* Contact */
#contact h1{
    font-size: 5rem;
    text-align: center;
    margin: 2rem;
    color:#ad1c58;
}
form{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 500px;
    margin:auto;
    margin-top: 100px;
}
input, textarea{
    height: 50px;
    margin: 20px;
    font-size: 2.5rem;
    border-radius: 10px;
   text-align: center;
   border: 2px solid #ad1c58;
}
input:focus, textarea:focus{
outline: none;
}
input[type="submit"]{
    background-color: #ad1c58;
    color: white;
}
input[type="submit"]:hover{
    color: #ad1c58;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
   
}
#socials{
    
    width: 500px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

img{
    width: 40px;
    margin: 20px; 
}
footer{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100vw;
}
/* Scrollbar-Change */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ad1c58;
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ad1c58;
  }
  /* Media Queries */
  
   
  @media (max-width: 575.98px) {  }

  
  @media (max-width: 767.98px) {  }
  
  
  @media (max-width: 991.98px) {  }
  
  
  @media (max-width: 1199.98px) {  }
  
  
  @media (max-width: 1399.98px) {  }